::ng-deep ui-error-alert {
    display: flex;
    justify-content: center;
}

.alert {
    display: flex;
    justify-content: space-between;
}

.alert-error {
  position: absolute;
  width: 33%;
  padding: 12px;
  background-color: var(--red-background-alert);
  color: white;
  border: 1px solid var(--red-background-alert);
  border-radius: 4px;
  margin-top: 12px;
}

.close-modal__button {
    background-color: transparent;
    border: none;
}
